.left , .right {
    width: 49%;
}
header{
    display: flex;
    align-items: center;
}

.right {
    text-align: end;
}
.right button {
    background-color: rgb(63, 63, 229);
    color: white;
    border-radius: 10px;
    padding: 20px 30px;
}